$color-primary: #121221;
$color-primary-60: #444444;
$color-primary-40: #6C6C6C;
$color-primary-20: #949494;

$color-background: #FDFDFD;
$color-background-dark: #F8F8F8;

$font-family-primary: 'Playfair Display', serif;
$font-family-secondary: 'Playfair Display', serif;
